<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div class="jet">
      <img [src]="jetImage">
    </div>
    <span class="spacer"></span>
    <nav>
      <img routerLink="/home" class="buttonNavbar" *ngIf="canShowNavBar()" [src]='mainPageImage'>
      <img routerLink="/login" class="buttonNavbar" *ngIf="canShowNavBar()" [src]='logInImage'>
      <img routerLink="/registry" class="buttonNavbar" *ngIf="canShowNavBar()" [src]='signUpImage'>
      <img routerLink="/main" class="buttonNavbar" *ngIf="!(canShowNavBar())" [src]='dashboardImage'>
      <img routerLink="/home" class="buttonNavbar" *ngIf="!(canShowNavBar())" (click)="logOutRequest()" [src]='logOutImage'>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
