@import url('https://fonts.googleapis.com/css?family=Handlee');
.profilePictureDiv {
  width: 45%;
  height: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: black;
  cursor: pointer;
}

.labelImage {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  color: black;
  font-size: 1.7em;
  text-shadow: 1px 1px 2px black, 0 0 1em orangered, 0 0 0.2em orangered;
}

.profilePicture {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 24px;
  cursor: pointer;
}

.buttonIn {
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-style: italic bold;
  font-size: 100%;
  background: orangered;
}

.field {
  color: gold;
  background-color: transparent !important;
}

form mat-form-field {
  width: 100%;
}

.registryCard {
  background-color: transparent !important;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-color: azure;
  border-width: 1px;
  border-style: solid;
  margin-top: 60px;
}

.error {
  color: navajowhite;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: gold !important;
}